.contact-container{
	align-items: center;
	height: 50vh;
	width: 100%;
}
.contact-img{
	border-radius: 50%;
	padding: 1rem;
}
.bg-img img{
	width: 100%;
	height: 100vh;
}
.bg-content{
	color: black;
	transform: translate(0, -80vh);
}